.ace_content {
  background: #f7f7f7 !important;
}
.ace_keyword, .ace_numeric {
  color: #008000 !important;
}

.ace_string {
  color: #BA2121 !important;
}

.ace_active-line {
  background: none !important;
}